First Name is {{name}}
Email is {{email}}
Password is {{pwd}}
<table border="1px">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>mobile</th>
        <th>gender</th>
      
    </tr>
    <tr>
        <td> {{name}}</td>
        <td> {{email}}</td>
        <td> {{pwd}}</td>
        <td> {{mobile}}</td>
        <td>{{gender}}</td>
    </tr>
</table>