<h1>
    <%= msg%>
</h1>
<table border="1px">
    <tr>
        <th>Subject</th>
        <th>Marks/100</th>
    </tr>
    <tr>
        <td>
            English
        </td>
        <td>
            <%= english %>
        </td>
    </tr>
    <tr>
        <td>Hindi</td>
        <td> <%= hindi %></td>
    </tr>
    <tr>

        <td>Gujarati</td>
        <td> <%= gujarati %></td>
    </tr>
    <tr>
        <td>Science</td>
        <td> <%= science %></td>
    </tr>nta
    <tr>
        <td>Maths</td>
        <td> <%= maths %></td>
    </tr>
    <tr>
        <th> Total</th>
        <td> <%= total %></td>
    </tr>
    <tr>
        <th> Perentage</th>
        <td> <%= per %></td>
    </tr>
</table>




